<div class="blog-card" *ngIf="post" [appHoverHighlight]="'#c3cfde'">

  <h2>{{ post | byline }}</h2>

  <img *ngIf="post.imageUrl"
       [ngSrc]="post.imageUrl"
       width="400"
       height="250"
       [alt]="'Image for ' + post.title">

  <p>{{ post.content }}</p>
  <p>Author: {{ post.author }}</p>

  <p>Author: {{ post.author | uppercase }}</p>
  <p>Published: {{ post.publishDate | date:'fullDate' }}</p>
  <p>
    Sponsorship:
    <span [ngStyle]="post.sponsorship | sponsorshipColor">
    {{ post.sponsorship | currency:'USD':'symbol':'1.2-2' }}
  </span>
  </p>
  <div class="card-actions">
    <button (click)="editPost()">Edit</button>
    <button (click)="deletePost()" class="delete-button">Delete</button>
  </div>

</div>
